.header{
}

.logo{
	float: left;
}

.menu{
	float: right;
}

.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li{
	display: inline;
}

.menu a{
	color: red;
	text-decoration: none;
	font-family: he;
}

.menu a:hover{
	text-decoration: underline;
	color: blue;
}

.content{
	background: green;
}
.footer{
	background: blue;
}

.footer a{
	color: #fff;
}

/*

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
}

html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #D2691E;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

*/
